@mixin flex-col {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1100px) {
    .sec {
        @include flex-col();

        .content {
            margin-block: 1rem;
            width: 90%;
            @include flex-col();

            .text-content {
                @include flex-col();
                width: 100%;
                margin: 0 auto;

                p {
                    width: 100%;
                }
            }
        }
    }

    #work-title-container {
        @include flex-col();
        padding: 0;
    }

    #contact {
        @include flex-col();
        padding-top: 1rem;
        padding: 100px;
    }
}

@media screen and (max-width: 600px) {
    header {
        ul {
            display: none !important;
        }
    }

    #text {
        font-size: 10vw;
    }

    .section-title {
        font-size: 3rem;
    }

    .sec {
        @include flex-col();

        .content {
            margin-top: 2rem;
            margin-bottom: 4rem;
            width: 90%;
            @include flex-col();

            .text-content {
                padding: 1rem;
                @include flex-col();
                width: 100%;
                margin: 0 auto;

                p {
                    width: 100%;
                }
            }
        }
    }

    #work {
        align-items: center;
        background: rgb(31, 31, 31);
        background: linear-gradient(90deg, rgb(53, 53, 53) 0%, rgb(37, 37, 37) 40%);

        #work-title-container {
            padding-block: 2rem;
            width: 100%;
        }

        .work-image-footer {
            height: auto;
            padding: 1rem;
        }
    }



    #contact {
        padding: 0;
        padding-block: 5rem;
    }

    #my-form {
        width: 80%;
    }

    #wrapper {
        width: 90vw;
    }

    #slider-wrap {
        width: 90vw;
        height: 70vh;
        position: relative;
        overflow: hidden;

        ul#slider {
            width: 90vw;
            height: 70vh;
            list-style: none;
            position: absolute;
            overflow: hidden;
            top: 0;
            left: 0;

            li {
                float: left;
                position: relative;
                width: 90vw;
                height: 70vh;

                div {
                    position: absolute;
                    width: 90vw;

                    img {
                        width: 90vw;
                        height: 70vh;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1100px) {
    header {
        display: block;
    }

    main {
        img {
            top: 0;
        }
    }

    #text {
        font-size: 6vw;
    }

    .sec {
        padding: 100px;

        .content {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            margin-block: 1rem;


            .text-content {
                padding: 1rem;
                margin-left: -1rem;
            }
        }
    }

    #work {
        #work-title-container {
            padding-left: 100px;
            padding-block: 50px;

            .work-image-footer {
                padding: 1rem;
                padding-inline: 2rem;
                font-size: 21px;
                height: 6rem;
            }
        }
    }


    .section-title {
        font-size: 4rem;
    }

    #contact {
        padding: 100px;
    }

    #my-form {
        width: 30rem;
    }


    #wrapper {
        width: 100vw;
    }

    #slider-wrap {
        width: 100vw;
        height: 70vh;
        position: relative;
        overflow: hidden;

        ul#slider {
            width: 100vw;
            height: 70vh;
            list-style: none;
            position: absolute;
            overflow: hidden;
            top: 0;
            left: 0;

            li {
                float: left;
                position: relative;
                width: 100vw;
                height: 70vh;

                div {
                    position: absolute;
                    width: 100vw;

                    img {
                        width: 100vw;
                        height: 70vh;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}