@mixin flex-col {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1099px) {
    #text {
        font-size: 60px;
    }

    #contact {
        @include flex-col();
        padding: 0;
        padding-block: 5rem;
    }

    #my-form {
        width: 80%;
    }

    .section-title {
        font-size: 3rem;
    }

    .sec {
        @include flex-col();

        .section-title {
            margin-inline: 100px;
            margin-block: 50px;
        }

        .content {
            margin-block: 1rem;
            width: 90%;
            @include flex-col();

            .text-content {
                @include flex-col();
                width: 100%;
                margin: 0 auto;
                padding: 1rem;

                p {
                    width: 100%;
                }
            }
        }
    }

    #work-title-container {
        @include flex-col();
        padding-inline: 100px;
        padding-block: 50px;
    }
    #work-list{
        li{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            .work-image-text{
                width: 100%;
            }
            .work-image-container{
                width: 60%;
                padding: 2rem 1rem 1rem 1rem;
            }
        }
    }
}

@media screen and (max-width: 599px) {
    header {
        ul {
            display: none !important;
        }
    }

    #text {
        font-size: 10vw;
    }

    .section-title {
        font-size: 3rem;
    }

    .sec {
        @include flex-col();

        .content {
            margin-top: 2rem;
            margin-bottom: 4rem;
            width: 90%;
            @include flex-col();

            .text-content {
                padding: 1rem;
                @include flex-col();
                width: 100%;
                margin: 0 auto;

                p {
                    width: 100%;
                }
            }
        }
    }

    #work {
        align-items: center;
        background: rgb(31, 31, 31);
        background: linear-gradient(90deg, rgb(53, 53, 53) 0%, rgb(37, 37, 37) 40%);

        #work-title-container {
            padding-block: 2rem;
            width: 100%;
        }
        #work-list{
            li{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                .work-image-text{
                    width: 100%;
                }
                .work-image-container{
                    width: 100%;
                    padding: 2rem 1rem 1rem 1rem;
                }
            }
        }
    }
}

@media screen and (min-width: 1100px) {
    header {
        display: block;
    }

    main {
        img {
            top: 0;
        }
    }

    #text {
        font-size: 6vw;
    }

    .sec {
        padding: 100px;

        .content {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            margin-block: 1rem;


            .text-content {
                padding: 1rem;
                margin-left: -1rem;
            }
        }
    }

    #work {
        #work-title-container {
            padding-left: 100px;
            padding-block: 50px;
        }
        #work-list{
            li{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .work-image-text{
                    width: 60%;
                }
                .work-image-container{
                    padding: 1rem;
                    width: 30%;
                }
            }
        }
    }


    .section-title {
        font-size: 4rem;
    }

    #contact {
        padding: 100px;
        display: flex;
        flex-direction: column;
    }

    #my-form {
        width: 30rem;
    }
}