@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap");
@media screen and (max-width: 1099px) {
  #text {
    font-size: 60px;
  }
  #contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    padding-block: 5rem;
  }
  #my-form {
    width: 80%;
  }
  .section-title {
    font-size: 3rem;
  }
  .sec {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sec .section-title {
    margin-inline: 100px;
    margin-block: 50px;
  }
  .sec .content {
    margin-block: 1rem;
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sec .content .text-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
  }
  .sec .content .text-content p {
    width: 100%;
  }
  #work-title-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-inline: 100px;
    padding-block: 50px;
  }
  .btns img {
    height: 70%;
  }
  #slider-wrap.active #next {
    right: 0px;
  }
  #slider-wrap.active #previous {
    left: 0px;
  }
}

@media screen and (max-width: 599px) {
  header ul {
    display: none !important;
  }
  #text {
    font-size: 10vw;
  }
  .section-title {
    font-size: 3rem;
  }
  .sec {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sec .content {
    margin-top: 2rem;
    margin-bottom: 4rem;
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sec .content .text-content {
    padding: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin: 0 auto;
  }
  .sec .content .text-content p {
    width: 100%;
  }
  #work {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #1f1f1f;
    background: -webkit-gradient(linear, left top, right top, from(#353535), color-stop(40%, #252525));
    background: linear-gradient(90deg, #353535 0%, #252525 40%);
  }
  #work #work-title-container {
    padding-block: 2rem;
    width: 100%;
  }
  .btns img {
    height: 40%;
  }
  #slider-wrap.active #next {
    right: -50px;
  }
  #slider-wrap.active #next img {
    margin-right: 2.5rem;
  }
  #slider-wrap.active #previous {
    left: -50px;
  }
  #slider-wrap.active #previous img {
    margin-left: 2.5rem;
  }
}

@media screen and (min-width: 1100px) {
  header {
    display: block;
  }
  main img {
    top: 0;
  }
  #text {
    font-size: 6vw;
  }
  .sec {
    padding: 100px;
  }
  .sec .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-block: 1rem;
  }
  .sec .content .text-content {
    padding: 1rem;
    margin-left: -1rem;
  }
  #work #work-title-container {
    padding-left: 100px;
    padding-block: 50px;
  }
  #work .work-image-footer {
    padding-inline: 2rem;
    font-size: 21px;
  }
  .section-title {
    font-size: 4rem;
  }
  #contact {
    padding: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #my-form {
    width: 30rem;
  }
  .btns img {
    height: 70%;
  }
  #slider-wrap.active #next {
    right: 0px;
  }
  #slider-wrap.active #previous {
    left: 0px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

.section-title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-right: 3rem;
  text-shadow: 9px 9px black;
  border-bottom: 10px solid gold;
  font-weight: 800;
  letter-spacing: 2px;
  color: white;
  white-space: nowrap;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#2b1055), to(#7597de));
  background: linear-gradient(#2b1055, #7597de);
}

body::-webkit-scrollbar {
  height: 15px;
}

body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
  background: #888;
}

body::-webkit-scrollbar-thumb:hover {
  background: #555;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10000;
}

header .logo {
  color: white;
  font-weight: 700;
  text-decoration: none;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header ul li {
  list-style: none;
  margin-left: 20px;
  width: 5rem;
}

header ul li a {
  text-decoration: none;
  color: white;
  padding-block: 6px;
  display: inline-block;
  text-align: center;
  width: 100%;
  border-radius: 20px;
  -webkit-transition: background .4s;
  transition: background .4s;
}

header ul li a:hover, header ul li a.active {
  -webkit-transition: background .4s;
  transition: background .4s;
  background: white;
  color: #2b1055;
  font-weight: 700;
}

main {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: -webkit-gradient(linear, left bottom, left top, from(#1c0522), to(transparent));
  background: linear-gradient(to top, #1c0522, transparent);
  z-index: 1000;
}

main img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  pointer-events: none;
}

main #moon {
  mix-blend-mode: screen;
}

main #mountains_front {
  z-index: 10;
}

main #text {
  position: absolute;
  color: white;
  white-space: nowrap;
  z-index: 9;
}

main #btn {
  text-decoration: none;
  position: fixed;
  display: inline-block;
  padding: 8px 30px;
  border-radius: 40px;
  border: none;
  background: white;
  color: #2b1055;
  font-size: 1.5rem;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  overflow: hidden;
  z-index: 0;
  -webkit-transition: .2s transform ease-in-out;
  transition: .2s transform ease-in-out;
  will-change: transform;
}

main #btn::after {
  background-color: #3a1675;
  border-radius: 3rem;
  content: '';
  display: block;
  height: 15vh;
  width: 15vw;
  position: absolute;
  left: 0%;
  top: 0%;
  -webkit-transform: translate(-100%, 0) rotate(10deg);
          transform: translate(-100%, 0) rotate(10deg);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transition: .4s transform ease-out;
  transition: .4s transform ease-out;
  will-change: transform;
  z-index: -1;
}

main #btn:hover::after {
  -webkit-transform: translate(-3rem, -1rem);
          transform: translate(-3rem, -1rem);
}

main #btn:hover {
  -webkit-animation: fillButton .4s;
          animation: fillButton .4s;
  color: white;
  background-color: #3a1675;
  will-change: transform;
  cursor: pointer;
}

@-webkit-keyframes fillButton {
  from {
    background-color: white;
  }
  to {
    background-color: #3a1675;
  }
}

@keyframes fillButton {
  from {
    background-color: white;
  }
  to {
    background-color: #3a1675;
  }
}

.sec {
  position: relative;
  background: #1c0522;
  background: url(./sprites/about_page.png);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.24);
          box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.24);
}

.sec .content .text-content {
  border-left: 2px solid white;
  -webkit-backdrop-filter: blur(200px) opacity(20%);
          backdrop-filter: blur(200px) opacity(20%);
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.24);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.24);
}

.sec .content .text-content #highlight-text {
  font-weight: 800;
  border-bottom: 2px solid white;
}

.sec #about-photo-container {
  width: 20vw;
  height: 70vh;
  overflow: hidden;
  margin-right: 2rem;
}

.sec #about-photo-container img {
  position: relative;
  right: 20rem;
  height: 100%;
  padding-right: 20px;
}

.sec p {
  width: 40vw;
  color: white;
}

.sec .tagcloud {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 650;
  color: white;
  pointer-events: none;
}

#contact {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: auto;
  background-image: url(./sprites/Scene-7.jpg);
  background-size: cover;
  z-index: 10;
}

#contact::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: -webkit-gradient(linear, left bottom, left top, from(transparent), to(#1a1a1a));
  background: linear-gradient(to top, transparent, #1a1a1a);
  z-index: 1000;
}

#contact #my-form {
  border: 2px solid #222222;
  background-color: #2222224d;
  color: white;
  margin-top: 2rem;
  border-radius: 20px;
  min-height: auto;
  padding-inline: 2rem;
  padding-block: 1rem;
}

#contact #my-form label {
  display: block;
}

#contact #my-form hr {
  opacity: 0.7;
  margin: 0 auto;
  width: 75%;
}

#contact #my-form h4 {
  font-size: 1.4rem;
  margin-bottom: .5rem;
}

#contact #my-form input {
  width: 100%;
  height: 2.5rem;
  padding-inline: 1rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  border-radius: 5px;
  border: none;
}

#contact #my-form input:focus {
  outline: none;
}

#contact #my-form #messageInput {
  height: 6rem;
  width: 100%;
  padding-block: .5rem;
  padding-inline: 1rem;
  margin-bottom: 1rem;
  resize: none;
  font-size: 1.2rem;
  border-radius: 5px;
  border: none;
}

#contact #my-form #messageInput:focus {
  outline: none;
}

#contact #my-form #my-form-button {
  display: block;
  width: 10rem;
  height: 3rem;
  border-radius: 10px;
  border: none;
  font-size: 1.2rem;
  background-color: rgba(255, 219, 12, 0.973);
  -webkit-transition: all .2s;
  transition: all .2s;
}

#contact #my-form #my-form-button:hover {
  -webkit-transition: all .2s;
  transition: all .2s;
  background-color: rgba(242, 206, 0, 0.973);
  letter-spacing: 1px;
  cursor: pointer;
}

#contact #my-form #my-form-button:active {
  -webkit-transition: all .2s;
  transition: all .2s;
  background-color: rgba(216, 184, 0, 0.973);
  -webkit-box-shadow: 7px 7px 0px 0px black;
          box-shadow: 7px 7px 0px 0px black;
}

#contact #form-title {
  color: white;
}

footer {
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1rem;
  background-color: #12121a;
  color: white;
}

#myBtn {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 10000;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  cursor: pointer;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  font-size: 18px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

#myBtn img {
  margin-top: 10%;
  width: 50%;
  -webkit-filter: invert(1);
          filter: invert(1);
}

#myBtn:hover {
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.603);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.603);
}

#myBtn:hover img {
  -webkit-transition: color 1s;
  transition: color 1s;
  -webkit-animation: jumpToTop 2s infinite ease-in-out;
          animation: jumpToTop 2s infinite ease-in-out;
}

@-webkit-keyframes jumpToTop {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes jumpToTop {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

#work {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow: hidden;
  background-image: url(./sprites/black-concrete-wall_24972-1046.webp);
  background-size: cover;
}

#work-title-container {
  background: linear-gradient(140deg, #353535 10%, #141414 50%);
  width: 100%;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.315);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.315);
}

#work .work-image-footer {
  height: auto;
  padding: 1rem;
}

#wrapper {
  margin-block: 100px;
  width: 80vw;
  max-height: 70vh;
  position: relative;
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.1) 2px 2px 0px;
  z-index: 10;
}

#slider-wrap {
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.445);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.445);
  width: 80vw;
  height: 70vh;
  position: relative;
  overflow: hidden;
}

#slider-wrap ul#slider {
  width: 80vw;
  height: 70vh;
  list-style: none;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

#slider-wrap ul#slider li {
  float: left;
  position: relative;
  width: 80vw;
  height: 70vh;
}

#slider-wrap ul#slider li div {
  position: absolute;
  width: 80vw;
}

#slider-wrap ul#slider li div img {
  width: 80vw;
  height: 70vh;
  -o-object-fit: cover;
     object-fit: cover;
}

#slider-wrap ul#slider li .work-image-footer {
  background-color: rgba(0, 0, 0, 0.473);
  bottom: 0;
}

#slider-wrap ul#slider li i {
  text-align: center;
  line-height: 400px;
  display: block;
  width: 100%;
  font-size: 90px;
}

/*btns*/
.btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 100px;
  height: 100px;
  top: 50%;
  margin-top: -50px;
  line-height: 57px;
  text-align: center;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.1);
  z-index: 100;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.btns:hover {
  background: rgba(0, 0, 0, 0.3);
}

.btns img {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  opacity: 0;
  -webkit-filter: invert(1);
          filter: invert(1);
}

.btns #right-arrow-button {
  -webkit-transform: rotate(0.5turn);
          transform: rotate(0.5turn);
}

#next {
  right: -50px;
  border-radius: 7px 0px 0px 7px;
}

#previous {
  left: -50px;
  border-radius: 0px 7px 7px 7px;
}

#counter {
  top: 30px;
  right: 35px;
  width: auto;
  position: absolute;
}

#slider-wrap.active #next img {
  opacity: 1;
}

#slider-wrap.active #previous img {
  opacity: 1;
}

#slider-wrap ul,
#pagination-wrap ul li {
  -webkit-transition: all 1s cubic-bezier(0.2, 0.2, 0.2, 1);
  transition: all 1s cubic-bezier(0.2, 0.2, 0.2, 1);
}
/*# sourceMappingURL=styles.css.map */